In [45]:
# Importing all the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
 
# Opening JSON file
data = open('SampleData(15Nov2018_to_13Sep2019.json')
 
# returns JSON object as
# a dictionary
data_dict = json.load(data)

print(data_dict['-LRHbArGBwe-KuIpvVqq']['user_id'])

1780

In [46]:
# Converting the JSON format into dataframe format 
df = pd.DataFrame(data_dict)
df = df.transpose()  
df

,items,k_user_id,paid_amount,paid_at,redeemed_at,user_id
-LRHbArGBwe-KuIpvVqq,[-LPQ_S96CqbXnBu0kL-T],2746,100,1542618854646,1542279025879,1780
-LRHbLWJyKVSZEr0Zi-k,[-LPQ_S96CqbXnBu0kL-T],1783,20,1543584479212,1542205699711,1783
-LRHceJ6bVwS_ad2hzK1,[-LPQaSQd38FTtpwxE-Jl],1804,100,1543584327289,1542205947020,1804
-LRHg9EYH_thGhV3as4_,[-LPQaSQd38FTtpwxE-Jl],1785,20,1543584397564,1542206865264,3067
-LRHonYCR9MmBpUtekkK,"[-LPQb61tpBZq6xPMOc1q, -LPQ_S96CqbXnBu0kL-T]",1783,50,1543584490821,1542209185121,2817
...,...,...,...,...,...,...
-LnSo6UOawTWOzAUr_vj,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567090972897,1566924914830
-LnSoT6rmp-wsTOL67rA,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567089850003,1567085686873
-LnSr4k27NiUAAuE2nUh,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567090929322,1566146524528
-LnSxdRehSQhKnCRteFe,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567092246046,1567091442735
-LnSzlE1ASVMA3YyHD_4,[-LPQb61tpBZq6xPMOc1q],1566369891272,10,1568097324838,1567092612688,1567091845823

In [47]:
# Replacing the categorical index of dataframe with numerical index
df.reset_index(inplace = True, drop = True)
df

,items,k_user_id,paid_amount,paid_at,redeemed_at,user_id
0,[-LPQ_S96CqbXnBu0kL-T],2746,100,1542618854646,1542279025879,1780
1,[-LPQ_S96CqbXnBu0kL-T],1783,20,1543584479212,1542205699711,1783
2,[-LPQaSQd38FTtpwxE-Jl],1804,100,1543584327289,1542205947020,1804
3,[-LPQaSQd38FTtpwxE-Jl],1785,20,1543584397564,1542206865264,3067
4,"[-LPQb61tpBZq6xPMOc1q, -LPQ_S96CqbXnBu0kL-T]",1783,50,1543584490821,1542209185121,2817
...,...,...,...,...,...,...
63644,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567090972897,1566924914830
63645,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567089850003,1567085686873
63646,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567090929322,1566146524528
63647,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,1568097324838,1567092246046,1567091442735
63648,[-LPQb61tpBZq6xPMOc1q],1566369891272,10,1568097324838,1567092612688,1567091845823

In [48]:
# Changing the epoch timestamp to Date format
df['paid_at'] = pd.to_datetime(df['paid_at'], unit='ms')
df['redeemed_at'] = pd.to_datetime(df['redeemed_at'], unit='ms')
df

,items,k_user_id,paid_amount,paid_at,redeemed_at,user_id
0,[-LPQ_S96CqbXnBu0kL-T],2746,100,2018-11-19 09:14:14.646,2018-11-15 10:50:25.879,1780
1,[-LPQ_S96CqbXnBu0kL-T],1783,20,2018-11-30 13:27:59.212,2018-11-14 14:28:19.711,1783
2,[-LPQaSQd38FTtpwxE-Jl],1804,100,2018-11-30 13:25:27.289,2018-11-14 14:32:27.020,1804
3,[-LPQaSQd38FTtpwxE-Jl],1785,20,2018-11-30 13:26:37.564,2018-11-14 14:47:45.264,3067
4,"[-LPQb61tpBZq6xPMOc1q, -LPQ_S96CqbXnBu0kL-T]",1783,50,2018-11-30 13:28:10.821,2018-11-14 15:26:25.121,2817
...,...,...,...,...,...,...
63644,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10 06:35:24.838,2019-08-29 15:02:52.897,1566924914830
63645,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10 06:35:24.838,2019-08-29 14:44:10.003,1567085686873
63646,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10 06:35:24.838,2019-08-29 15:02:09.322,1566146524528
63647,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10 06:35:24.838,2019-08-29 15:24:06.046,1567091442735
63648,[-LPQb61tpBZq6xPMOc1q],1566369891272,10,2019-09-10 06:35:24.838,2019-08-29 15:30:12.688,1567091845823

# Task 1:  Converting all timestamp of each redemption to a proper Date format (yyyy-mm-dd)

In [49]:
df['paid_at'] = df['paid_at'].dt.date
df['redeemed_at'] = df['redeemed_at'].dt.date
df

,items,k_user_id,paid_amount,paid_at,redeemed_at,user_id
0,[-LPQ_S96CqbXnBu0kL-T],2746,100,2018-11-19,2018-11-15,1780
1,[-LPQ_S96CqbXnBu0kL-T],1783,20,2018-11-30,2018-11-14,1783
2,[-LPQaSQd38FTtpwxE-Jl],1804,100,2018-11-30,2018-11-14,1804
3,[-LPQaSQd38FTtpwxE-Jl],1785,20,2018-11-30,2018-11-14,3067
4,"[-LPQb61tpBZq6xPMOc1q, -LPQ_S96CqbXnBu0kL-T]",1783,50,2018-11-30,2018-11-14,2817
...,...,...,...,...,...,...
63644,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1566924914830
63645,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1567085686873
63646,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1566146524528
63647,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1567091442735
63648,[-LPQb61tpBZq6xPMOc1q],1566369891272,10,2019-09-10,2019-08-29,1567091845823

# Exploratory Data Aanlysis

In [50]:
df.describe()

,items,k_user_id,paid_amount,paid_at,redeemed_at,user_id
count,63649,63649,63649,63649,63649,63649
unique,61,89,53,43,283,21438
top,[-LPQ_S96CqbXnBu0kL-T],4052,20,2019-01-28,2019-01-27,2746
freq,40065,10257,54921,8964,1319,41

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63649 entries, 0 to 63648
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   items        63649 non-null  object
 1   k_user_id    63649 non-null  object
 2   paid_amount  63649 non-null  object
 3   paid_at      63649 non-null  object
 4   redeemed_at  63649 non-null  object
 5   user_id      63649 non-null  object
dtypes: object(6)
memory usage: 2.9+ MB

In [52]:
# Removing day from timestamp and adding new column with only Month and Year

df['Time'] = df['redeemed_at'].apply(lambda x: x.strftime('%Y-%m'))
df

,items,k_user_id,paid_amount,paid_at,redeemed_at,user_id,Time
0,[-LPQ_S96CqbXnBu0kL-T],2746,100,2018-11-19,2018-11-15,1780,2018-11
1,[-LPQ_S96CqbXnBu0kL-T],1783,20,2018-11-30,2018-11-14,1783,2018-11
2,[-LPQaSQd38FTtpwxE-Jl],1804,100,2018-11-30,2018-11-14,1804,2018-11
3,[-LPQaSQd38FTtpwxE-Jl],1785,20,2018-11-30,2018-11-14,3067,2018-11
4,"[-LPQb61tpBZq6xPMOc1q, -LPQ_S96CqbXnBu0kL-T]",1783,50,2018-11-30,2018-11-14,2817,2018-11
...,...,...,...,...,...,...,...
63644,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1566924914830,2019-08
63645,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1567085686873,2019-08
63646,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1566146524528,2019-08
63647,[-LPQ_S96CqbXnBu0kL-T],1566369891272,10,2019-09-10,2019-08-29,1567091442735,2019-08
63648,[-LPQb61tpBZq6xPMOc1q],1566369891272,10,2019-09-10,2019-08-29,1567091845823,2019-08

In [53]:
times = list(set((df["Time"].values)))
times

['2019-04',
 '2019-06',
 '2019-02',
 '2019-01',
 '2019-05',
 '2019-08',
 '2019-07',
 '2019-03',
 '2018-11',
 '2018-12']

# Task 2: Code for creating No. of transactions per User for period between Nov 2018 to Sep 2019

In [54]:
from collections import defaultdict
userInfo = defaultdict(lambda: defaultdict(int))
userInfo[1780]["2011 - 18"]

0

In [55]:
for i in df.itertuples():
  time = i.Time
  userId = i.user_id
  userInfo[userId][time]+=1

userIds = list(set(df["user_id"].values))

rows = []
for user in userIds:
  cur = []
  for t in times:
    cur.append(userInfo[user][t])
  rows.append(cur)

customerData = pd.DataFrame(rows, columns=times)

customerData["user_id"] = userIds

In [56]:
customerData.set_index("user_id", inplace = True)
customerData

,2019-04,2019-06,2019-02,2019-01,2019-05,2019-08,2019-07,2019-03,2018-11,2018-12
user_id,,,,,,,,,,
1563267432465,0,0,0,0,0,2,0,0,0,0
1567008882708,0,0,0,0,0,1,0,0,0,0
1563808759883,0,0,0,0,0,10,0,0,0,0
1566490099793,0,0,0,0,0,7,0,0,0,0
1565468524732,0,0,0,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1564589817742,0,0,0,0,0,4,1,0,0,0
1563983216533,0,0,0,0,0,0,1,0,0,0
1564231466927,0,0,0,0,0,0,1,0,0,0
1551597436878,0,0,0,0,0,0,0,1,0,0
1566660493278,0,0,0,0,0,1,0,0,0,0

In [66]:
customerData.to_csv('customerData.csv')

# Task 3: Mapping of Merchants with transactions and Users

## a. Transactions that are done by each merchant for the 10 months period in total

In [63]:
merchants = list(set(df["k_user_id"].values))
merchantToUser = defaultdict(lambda: defaultdict(list))

sum = 0
for i in df.itertuples():
  merchantToUser[i.k_user_id][i.Time].append(i.paid_amount)

rows = []
for m in merchants:
  cur = []
  for t in times:
    cur.append(merchantToUser[m][t])
  rows.append(cur)

merchanttrans = pd.DataFrame(rows, columns=times)
merchanttrans["merchant_id"] = merchants
merchanttrans.set_index("merchant_id", inplace = True)

In [64]:
merchanttrans

,2019-04,2019-06,2019-02,2019-01,2019-05,2019-08,2019-07,2019-03,2018-11,2018-12
merchant_id,,,,,,,,,,
8704,[],[],[],[20],[],[],[],[],[],[]
21003,[],[],[],"[20, 20, 20]",[],[],[],[],[],[]
24085,[],[],[20],[],[],[],[],[],[],[]
8215,[],[],"[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...",[],[],[50],"[10, 10]",[],"[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2..."
21022,[],[],[],"[20, 30, 20, 20]",[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...
3029,[],[],[],[],[],[],[],[],[100],[]
4059,[],[],"[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...",[],[],[],"[20, 20, 10, 20, 10, 10, 20, 10, 20, 10, 10, 1...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2...","[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 2..."
1565077938670,[],[],[],[],[],"[500, 2000, 12000]",[],[],[],[]
1554343409650,[],[],[],[],[],[],"[10, 10, 10]",[],[],[]
1552633908730,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...",[],[],"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 20, 10, 1...","[10, 10, 10, 10, 20, 10, 10, 10, 10, 10, 10, 1...","[10, 20, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...",[],[]

In [67]:
merchanttrans.to_csv('Merchant Transactions.csv')

## b. Users who utilized the â€˜Merchant or K_userâ€™ service in the 10 months period

In [59]:
merchants = list(set(df["k_user_id"].values))
merchantToUser = defaultdict(lambda: defaultdict(list))

for i in df.itertuples():
  merchantToUser[i.k_user_id][i.Time].append(i.user_id)

rows = []
for m in merchants:
  cur = []
  for t in times:
    cur.append(merchantToUser[m][t])
  rows.append(cur)

merchantData = pd.DataFrame(rows, columns=times)
merchantData["merchant_id"] = merchants
merchantData.set_index("merchant_id", inplace = True)

In [60]:
merchantData

,2019-04,2019-06,2019-02,2019-01,2019-05,2019-08,2019-07,2019-03,2018-11,2018-12
merchant_id,,,,,,,,,,
8704,[],[],[],[13809],[],[],[],[],[],[]
21003,[],[],[],"[21289, 21289, 21289]",[],[],[],[],[],[]
24085,[],[],[25678],[],[],[],[],[],[],[]
8215,[],[],"[15984, 25231, 25238, 5796, 6468, 5779, 5802, ...","[10211, 9874, 9369, 9133, 9373, 9963, 10333, 1...",[],[],[4274],"[10338, 9129]",[],"[7127, 5922, 9075, 9077, 9085, 9088, 9091, 909..."
21022,[],[],[],"[21022, 21061, 21119, 21022]",[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...
3029,[],[],[],[],[],[],[],[],[2403],[]
4059,[],[],"[22982, 15618, 9025, 15563, 15568, 25607, 2560...","[8400, 10226, 9855, 3551, 8846, 4049, 10318, 1...",[],[],[],"[26873, 6477, 4059, 12334, 14669, 16448, 4460,...","[4087, 4094, 4059, 4049, 2827, 4307, 4317, 433...","[4619, 4237, 4317, 4459, 4458, 4660, 2769, 467..."
1565077938670,[],[],[],[],[],"[1565072375438, 1565072165404, 1565095058281]",[],[],[],[]
1554343409650,[],[],[],[],[],[],"[9485, 7127, 9129]",[],[],[]
1552633908730,"[12694, 5162, 3086, 17281, 1554007212930, 3070...","[3220, 3172, 3150, 4252, 12039, 1555587171182,...",[],[],"[18020, 20888, 1554007212930, 2746, 1555053844...","[4615, 3194, 1552823105245, 1552889606144, 317...","[2746, 1560058846338, 14057, 1554389279919, 22...","[24450, 3760, 9725, 3070, 10251, 2746, 12075, ...",[],[]

In [68]:
merchantData.to_csv('Merchant Data.csv')